body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.rong{
    color:rgb(50, 205, 197) ;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange tomato);
    padding: 10px 40px;
    border-radius: 5px;
   color: aliceblue;
   font-weight: 700;
}